In [71]:
%load_ext sql
%matplotlib inline

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [72]:
from sqlalchemy import create_engine
import sqlalchemy.sql

In [73]:
username = ""
passwd = ''
#dbstr = f"postgresql://{username}:{passwd}@applied-sql.cs.colorado.edu/{username}"
dbstr = f"mysql://{username}:{passwd}@applied-sql.cs.colorado.edu/{username}"
print("connect to ", dbstr)
%sql mysql://:@applied-sql.cs.colorado.edu/

connect to  mysql://rypo9306:68bcea44ad54830d836a@applied-sql.cs.colorado.edu/rypo9306

'Connected: rypo9306@rypo9306'

In [74]:
eng = create_engine(dbstr)
con = eng.connect()

In [47]:
con.execute('''
SET FOREIGN_KEY_CHECKS = 0;
drop table if exists Customer;
SET FOREIGN_KEY_CHECKS = 1;
create table Customer (
     userID INTEGER NOT NULL AUTO_INCREMENT,
     firstName VARCHAR(30) NOT NULL,
     lastName VARCHAR(30) NOT NULL,
     email VARCHAR(50) NOT NULL UNIQUE,
     PRIMARY KEY (userID)
);
''')

In [12]:
con.execute('''
SET FOREIGN_KEY_CHECKS = 0;
drop table if exists Address;
SET FOREIGN_KEY_CHECKS = 1;
create table Address (
     addressID INTEGER NOT NULL AUTO_INCREMENT,
     address VARCHAR(100) NOT NULL,
     city VARCHAR(30) NOT NULL,
     state VARCHAR(2) NOT NULL,
     zipcode VARCHAR(5) NOT NULL,
     userID INTEGER,
     FOREIGN KEY(userID) references Customer(userID) ON DELETE CASCADE,
     PRIMARY KEY (addressID)
);
''')

In [11]:
con.execute('''
SET FOREIGN_KEY_CHECKS = 0;
drop table if exists CreditCard;
SET FOREIGN_KEY_CHECKS = 1;
create table CreditCard (
     cardID INTEGER NOT NULL AUTO_INCREMENT,
     number varchar(30) NOT NULL,
     userID INTEGER NOT NULL,
     FOREIGN KEY(userID) references Customer(userID) ON DELETE CASCADE,
     PRIMARY KEY (cardID)
);
''')

In [52]:
con.execute('''
SET FOREIGN_KEY_CHECKS = 0;
drop table if exists Product;
SET FOREIGN_KEY_CHECKS = 1;
create table Product (
     productID INTEGER NOT NULL AUTO_INCREMENT,
     name VARCHAR(100) NOT NULL,
     price FLOAT(8,2) NOT NULL CHECK(price>0),
     quantity INTEGER NOT NULL CHECK(quantity>=0),
     PRIMARY KEY (productID)
);
''')

In [14]:
con.execute('''
SET FOREIGN_KEY_CHECKS = 0;
drop table if exists ShoppingCart;
SET FOREIGN_KEY_CHECKS = 1;
create table ShoppingCart (
     cID INTEGER NOT NULL AUTO_INCREMENT,
     userID INTEGER NOT NULL,
     productID INTEGER NOT NULL,
     quantity INTEGER NOT NULL CHECK(quantity>=0),
     FOREIGN KEY(userID) references Customer(userID) ON DELETE CASCADE,
     FOREIGN KEY(productID) references Product(productID) ON DELETE CASCADE,
     PRIMARY KEY (cID, productID)
);
''')

In [15]:
con.execute('''
SET FOREIGN_KEY_CHECKS = 0;
drop table if exists Purchase;
SET FOREIGN_KEY_CHECKS = 1;
create table Purchase (
     purchaseID INTEGER NOT NULL AUTO_INCREMENT,
     userID INTEGER NOT NULL,
     addressID INTEGER NOT NULL,
     cardID INTEGER NOT NULL,
     productID INTEGER NOT NULL,
     quantity INTEGER NOT NULL CHECK(quantity>=0),
     purchaseDate DATETIME DEFAULT CURRENT_TIMESTAMP,
     FOREIGN KEY(userID) references Customer(userID) ON DELETE CASCADE,
     FOREIGN KEY(addressID) references Address(addressID) ON DELETE CASCADE,
     FOREIGN KEY(cardID) references CreditCard(cardID) ON DELETE CASCADE,
     FOREIGN KEY(productID) references Product(productID) ON DELETE CASCADE,
     PRIMARY KEY (purchaseID)
);
''')

In [16]:
con.execute('''
create trigger remove_from_cart
after insert on Purchase
for each row
begin
delete from ShoppingCart
WHERE userID = new.userID and productID = new.productID;
end
''')

In [17]:
con.execute('''
create trigger check_inventory
before insert on Purchase
for each row
begin
if new.quantity > (select quantity from Product p1
where p1.productID = new.productID)
then
signal sqlstate '45000'
SET MESSAGE_TEXT = "Order cannot be fulfilled";
end if;
end;
''')

In [18]:
con.execute('''
create trigger remove_from_inventory
after insert on Purchase
for each row
begin
update Product set quantity = (quantity - new.quantity)
WHERE productID = new.productID;
end
''')

In [19]:
con.execute('''
create trigger add_to_cart
before insert on ShoppingCart
for each row
begin
if new.quantity > (select (select quantity from Product p1
where p1.productID = new.productID) - 
(select sum(quantity) from ShoppingCart sc
where sc.productID = new.productID))
then
signal sqlstate '45000'
SET MESSAGE_TEXT = "Cannot be added to Shopping Cart. Value exceeds available inventory.";
end if;
end;
''')

In [20]:
con.execute('''
create trigger add_initial_to_cart
before insert on ShoppingCart
for each row
begin
if new.quantity > (select quantity from Product p1
where p1.productID = new.productID)
then
signal sqlstate '45000'
SET MESSAGE_TEXT = "Cannot be added to Shopping Cart. Value exceeds inventory.";
end if;
end;
''')

In [65]:
con.execute('''
INSERT INTO Customer (firstName, lastName, email)
VALUES ("Ryan", "Power", "ryan.power@live.com");
INSERT INTO Customer (firstName, lastName, email)
VALUES ("James", "Ferrara", "jamesf@gmail.com");
INSERT INTO Customer (firstName, lastName, email)
VALUES ("Hannah", "Wing", "hannahwr@gmail.com");
INSERT INTO Customer (firstName, lastName, email)
VALUES ("Elizabeth", "King", "eking@gmail.com");
INSERT INTO Customer (firstName, lastName, email)
VALUES ("John", "Skiff", "jskiff@live.com");
INSERT INTO Customer (firstName, lastName, email)
VALUES ("Peter", "Maxwell", "peterm@live.com");
''')

In [21]:
con.execute('''
INSERT INTO Address (address, city, state, zipcode, userID)
VALUES ("123 Main St.", "Denver", "CO", "80014", 3);
INSERT INTO Address (address, city, state, zipcode, userID)
VALUES ("123 Main St.", "Denver", "CO", "80014", 4);
INSERT INTO Address (address, city, state, zipcode, userID)
VALUES ("123 Main St.", "Denver", "CO", "80014", 5);
INSERT INTO Address (address, city, state, zipcode, userID)
VALUES ("456 Park Ln.", "Denver", "CO", "80014", 6);
INSERT INTO Address (address, city, state, zipcode, userID)
VALUES ("456 Park Ln.", "Denver", "CO", "80014", 7);
INSERT INTO Address (address, city, state, zipcode, userID)
VALUES ("456 Park Ln.", "Denver", "CO", "80014", 8);
''')

In [22]:
con.execute('''
INSERT INTO CreditCard (number, userID)
VALUES ("1234567891234567", 3);
INSERT INTO CreditCard (number, userID)
VALUES ("4321876509874567", 4);
INSERT INTO CreditCard (number, userID)
VALUES ("0987654312345678", 5);
INSERT INTO CreditCard (number, userID)
VALUES ("7890123456786543", 6);
INSERT INTO CreditCard (number, userID)
VALUES ("5432123423458765", 7);
INSERT INTO CreditCard (number, userID)
VALUES ("9012789054327654", 8);
''')

In [68]:
con.execute('''
INSERT INTO Product (name, price, quantity)
VALUES ("Hat", 16.99, 100000);
INSERT INTO Product (name, price, quantity)
VALUES ("Camera", 2450.00, 5000);
INSERT INTO Product (name, price, quantity)
VALUES ("Bottle", 10.99, 10000);
INSERT INTO Product (name, price, quantity)
VALUES ("TV", 320.00, 10000);
''')

In [23]:
con.execute('''
INSERT INTO ShoppingCart (userID, productID, quantity)
VALUES (3, 1, 1);
INSERT INTO ShoppingCart (userID, productID, quantity)
VALUES (3, 2, 1);
INSERT INTO ShoppingCart (userID, productID, quantity)
VALUES (5, 3, 100);
INSERT INTO ShoppingCart (userID, productID, quantity)
VALUES (8, 4, 250);
''')

In [29]:
con.execute('''
INSERT INTO Purchase (userID, addressID, cardID, productID, quantity)
VALUES (4, 2, 2, 2, 1);
INSERT INTO Purchase (userID, addressID, cardID, productID, quantity)
VALUES (6, 4, 4, 4, 1);
INSERT INTO Purchase (userID, addressID, cardID, productID, quantity)
VALUES (7, 5, 5, 4, 1);
INSERT INTO Purchase (userID, addressID, cardID, productID, quantity)
VALUES (4, 2, 2, 3, 10);
''')

In [30]:
%%sql
# Total amount spent per user
Select s.userID, c.email, total 
from (Select userID, sum(pu.quantity*pr.price) as total
      from Purchase pu
      JOIN Product pr on pu.productID = pr.productID
      GROUP BY userID) s
JOIN Customer c on s.userID=c.userID

 * mysql://rypo9306:***@applied-sql.cs.colorado.edu/rypo9306
3 rows affected.

[(4, 'jamesf@gmail.com', 2559.9),
 (6, 'eking@gmail.com', 320.0),
 (7, 'jskiff@live.com', 320.0)]

In [31]:
%%sql
# Total quantity of each product purchased by user
Select s.userID, c.email, s.productID, s.name, s.quantity, total 
from 
(Select pu.userID, sum(pu.quantity) as quantity, pu.productID, 
pr.name, sum(pu.quantity*pr.price) as total 
from Purchase pu
JOIN Product pr on pu.productID = pr.productID
GROUP BY userID, productID) s
JOIN Customer c on s.userID=c.userID

 * mysql://rypo9306:***@applied-sql.cs.colorado.edu/rypo9306
4 rows affected.

[(4, 'jamesf@gmail.com', 2, 'Camera', Decimal('1'), 2450.0),
 (4, 'jamesf@gmail.com', 3, 'Bottle', Decimal('10'), 109.9),
 (6, 'eking@gmail.com', 4, 'TV', Decimal('1'), 320.0),
 (7, 'jskiff@live.com', 4, 'TV', Decimal('1'), 320.0)]

In [41]:
%%sql
# Most sold items
Select pu.productID, name, sum(pu.quantity) as sold
from Purchase pu
JOIN Product pr on pu.productID=pr.productID
GROUP BY pu.productID
ORDER BY sum(pu.quantity) DESC

 * mysql://rypo9306:***@applied-sql.cs.colorado.edu/rypo9306
3 rows affected.

[(3, 'Bottle', Decimal('10')),
 (4, 'TV', Decimal('2')),
 (2, 'Camera', Decimal('1'))]

In [33]:
%%sql
# Items that generated most revenue
Select s.productID, s.name, total 
from (Select pu.productID, pr.name, sum(pu.quantity*pr.price) as total
      from Purchase pu
      JOIN Product pr on pu.productID = pr.productID
      GROUP BY pu.productID) s
ORDER BY total DESC

 * mysql://rypo9306:***@applied-sql.cs.colorado.edu/rypo9306
3 rows affected.

[(2, 'Camera', 2450.0), (4, 'TV', 640.0), (3, 'Bottle', 109.9)]

In [35]:
%%sql
# Current Inventory, inserting into Purchase triggers an update on available quantity
Select productID, name, quantity 
from Product
ORDER BY quantity DESC

 * mysql://rypo9306:***@applied-sql.cs.colorado.edu/rypo9306
4 rows affected.

[(1, 'Hat', 100000), (4, 'TV', 9998), (3, 'Bottle', 9990), (2, 'Camera', 4999)]

In [47]:
%%sql
# Items in each user's shopping cart
Select sc.userID as 'Shopping Cart', c.email, sc.productID, p.name, sc.quantity
from ShoppingCart sc
JOIN Customer c on sc.userID = c.userID
JOIN Product p on p.productID = sc.productID
ORDER BY sc.userID

 * mysql://rypo9306:***@applied-sql.cs.colorado.edu/rypo9306
4 rows affected.

[(3, 'ryan.power@live.com', 2, 'Camera', 1),
 (3, 'ryan.power@live.com', 1, 'Hat', 1),
 (5, 'hannahwr@gmail.com', 3, 'Bottle', 100),
 (8, 'peterm@live.com', 4, 'TV', 250)]

In [79]:
#Trigger prevents this from being inserted into shopping cart table
#because quantity exceeds total in inventory minus total in other shopping carts
try:
    con.execute('''
    INSERT INTO ShoppingCart (userID, productID, quantity)
    VALUES (3, 3, 9900);
    ''')
except Exception as e:
    print(e)

(MySQLdb._exceptions.OperationalError) (1644, 'Cannot be added to Shopping Cart. Value exceeds available inventory.')
[SQL:
    INSERT INTO ShoppingCart (userID, productID, quantity)
    VALUES (3, 3, 9900);
    ]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [80]:
#Trigger prevents this from being inserted into purchase table
#because quantity exceeds total in inventory
try:
    con.execute('''
    INSERT INTO Purchase (userID, addressID, cardID, productID, quantity)
    VALUES (4, 2, 2, 3, 9991);
    ''')
except Exception as e:
    print(e)

(MySQLdb._exceptions.OperationalError) (1644, 'Order cannot be fulfilled')
[SQL:
    INSERT INTO Purchase (userID, addressID, cardID, productID, quantity)
    VALUES (4, 2, 2, 3, 9991);
    ]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [55]:
con.execute('''
    INSERT INTO ShoppingCart (userID, productID, quantity)
    VALUES (6, 4, 15);
    ''')

In [76]:
#Deleting a customer deletes their address, credit card, shopping cart,
#and purchase records due to cascade constraint

con.execute('''
DELETE FROM Customer WHERE userID=6;
''')

In [77]:
con.execute('''
SELECT * FROM Customer WHERE userID=6
''').fetchall()

[]

In [78]:
con.execute('''
SELECT * FROM ShoppingCart WHERE userID=6
''').fetchall()

[]